
.card{
    
    box-shadow: 0 0 10px 1px black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    padding: 1rem 1rem 0 0.5rem;
    margin: 1rem 1rem;
    transition: all 0.5s ease-in-out ;

}


.card:hover{
    cursor: pointer;
    transform: translateY(-15px);
    
}

.card_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 70%;
}



.card button{
    margin: 20px 0 ;
    width: 150px;
    height: 25px;
    background-color: black;
    border-radius: 10px;
    color: white;
    transition: all 0.5s ease-in-out;
}



.card button:hover{
    cursor: pointer;
    background-color: orange;
}




.card .nameGame, .precoGame{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.card .nameGame{
    text-align: center;
}

.id{
    display: none;
}