@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}




.content_pageBuy{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-top: 5rem;
   
    /* Usar GRID*/
    padding: 2rem;
}


.img_product{
    width: 30rem;
}


.freeShipping{
    background: rgb(255, 196, 0);
    font-weight: bold;
    padding: 0.35rem;
    font-size: 12px;
    width: 6rem;
    text-align: center;
    border-radius: 8px;
    
}







.name_product{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0;
    font-size: 2.5rem;
} 


.container_info_product{
    
    width: 32rem;
    padding: 2rem;
}

.preco{
    font-weight: 500;
    font-size: 20px;
}

.capsula_buttonbuy{
    display: flex;
    margin-top: 4rem;    
}

.takeOut, .CartButton{
    height: 3rem;
    outline: none;
    border-radius: 8px;
    font-weight: 500;
    
}

.CartButton{
    background: #00ff37;
    padding-left: 1rem;
    padding-right: 1rem;
}
.takeOut{
    margin-left: 5rem;
    background: #0066ff;
    padding-left: 2rem;
    padding-right: 2rem;
}


