
.person{
    position: absolute;
    bottom: 0;
    right: -6rem;
    z-index: 2;
    filter: contrast(110%);
}


.bg-person{
    position: absolute;
    right: -50px;
    z-index: 1;
    height: 80vh;
    width: 35%;
    clip-path: polygon(23% 43%, 100% 0, 100% 100%, 0% 100%);
}

.bg-video {
    position: relative;
    background-image:  url("");
    background-repeat: no-repeat;
    background-position-x: 580px;
    background-color: black;
    background-size: cover;
    height: 80vh;
    width: 100%;
    filter: contrast(110%);
    overflow: hidden;
    box-shadow: 0 0 5px 5px black;
}



.content{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    
}


footer{
    height: 30vh;
    width: 100%;
    background-color: black;
}

footer{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container-footer{
    margin-top: 2rem;
}

.lista_footer ul li{
    list-style: none;
    margin-top: 0.5rem;
}

.lista_footer ul li:hover{
    cursor: pointer;
}