
/* Inicio com 0px */
@media screen and ( min-width: 0px){
    
    .header__gameStore ul{
        display: none;
    }

    .header__gameStore{
        display: flex;
        align-items: center;
        background-color: black;
        height: 5rem;
        padding: 1rem;
        box-shadow:  0 0 0px 0px black;
    }

    .header__gameStore .logo{
        width: 4rem;
    }
}

/* Inicio com 810px */
@media screen and ( min-width: 810px){

    .header__gameStore{
        justify-content: space-between;
        background-color: black;
        color: white;
        height: 6rem;
    }

    .header__gameStore ul{
        display: flex;
    }
    .header__gameStore .logo{
        width: 6rem;
    }

    .header__gameStore ul li{
        list-style: none;
        margin-left: 2rem;
        transition: font-weight 0.4s ease-in-out;
        font-size: 1rem;
        font-weight: 600;
    }

    .header__gameStore ul li:nth-child(5){
        margin-right: 2rem;
    }

    .header__gameStore ul li:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    
    
}

/* Inicio com 1024px */
@media screen and ( min-width: 1024px){

    .header__gameStore{
        box-shadow:  0 0 5px 10px black;
    }
    .header__gameStore .logo{
        width: 7rem;
    }

    
    .header__gameStore ul li{
        font-size: 1.1rem;
    }
    
    
}